/**********File Inputs**********/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {

    max-width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
    font-size:16px; 
    font-weight:normal;
    font-family: 'Lato';
}


/* style 7 */

.inputfile-7 + label {
    color: #000;
}

.inputfile-7 + label {
    border: 1px solid #3393ff;
    font-size: 1rem;
    background-color: #fff;
    padding: 0;
    transition: 0.3s
}


.inputfile-7 + label:hover {
    border-color: #3393ff;
    background-color: #3393ff;
    color: #fff;
}

.inputfile-7 + label span,
.inputfile-7 + label strong {
    text-align: center;
    padding: 0.25rem 1.25rem;
}

.inputfile-7 + label span {
    width: 480px;
    min-height: 1em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.fas{
    margin-right: 10px;
}

.inputfile-7 + label strong {
    height: 100%;
    color: #fff;
    background-color: #c39f77;
    display: inline-block;
}

.inputfile-7:focus + label strong,
.inputfile-7.has-focus + label strong,
.inputfile-7 + label:hover strong {
    background-color: #9f8465;
}

@media only screen and (max-width: 991px){
    
    .inputfile-7 + label span {
    width: 200px;
    min-height: 1em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}
}


@media screen and (max-width: 50em) {
    .inputfile-7 + label strong {
        display: block;
    }
}
/**********End File Inputs**********/

#file-1{
    display: none;
}