img{max-width: 100%}

#numCaso:hover
{
	color:#12e6e6;
}

.error,.exito
{
	background: red;
	color: white;
	padding: 1em;
}

.exito{background: green;}

.mistrong:hover{
	color: #0209ea;
}

.navcea{
	background: #028bea !important;
}

.sidebar{
	top: 28px !important;
}

.alert{
	
}

.btn-primary{
	color: white !important;
	margin-left: 15px !important;
}

.obligado{
	color: red;
	font-size: 1.25rem;
}

.mostrar {
	display: block;
}

.ocultar{
	display: none;
}

.form-register input[type="radio"],
.form-register input[type="checkbox"]{
    display: none;
}

.form-register .radio label,
.form-register .checkbox label{
    color: #0074D9;
    background: rgba(0,0,0,.1);
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition: all 0.3s ease;
}

.form-register .radio label:hover,
.form-register .checkbox label:hover{
    background: rgba(0,116,217,0.1);
}

.form-register .radio label:before,
.form-register .checkbox label:before{
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 3px solid #0774D9;
    border-radius: 50%;
    position: absolute;
    left: 19px;
    top:  6px;
}


.form-register .checkbox label:before{
    border-radius: 3px;
}

.form-register input[type="radio"]:checked + label,
.form-register input[type="checkbox"]:checked + label{
    padding: 5px 15px;
    background: #0074D9;
    border-radius: 2px;
    color: #fff;

}

.form-register input[type="radio"]:checked + label:before,
.form-register input[type="checkbox"]:checked + label:before{
    display: none;
}

.aviso{
    color: red;
    font-size: 19px;
}

.alert{
    left: 0;
    width: 584px;
    text-align: center;
    background: #f8d7da;
    font-size: 17px;
    font-family: sans-serif;
    display: block;
    margin: 2px;
    
}



