*{
	padding: 0;
	margin: 0;
 }

 .container{
 	width: 100%;
 }

 .navcea{
 	background-color: blue;
 	display: block;
 	height: 60px;
 	box-shadow: 1px;
 }
.areaTrabajo{
	background-color: #cbced2;
	padding: 0;
	width: 100%;	
 }

 .barraIzq{
 	background: red;
 	padding: 100% 0 0 0;
 	height: 100%;
 	width: 15%;
 }
